
		
		
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html
	class="no-js"> <!--<![endif]-->
</html>
<html lang="en">

	<he>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>YOUTHCAM 2020</title>

		<!-- Bootstrap Core CSS -->
		<link
		href="/basica/css/bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/basica/css/main.css">
		<link rel="stylesheet" href="/basica/css/styles.css">
		<link href="/basica/css/custom.css" rel="stylesheet">
		<script src="//use.edgefonts.net/bebas-neue.js"></script>
		<!-- Custom Fonts & Icons -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/basica/css/icomoon-social.css">
		<link rel="stylesheet" href="/basica/css/font-awesome.min.css">

		<script src="/basica/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


		<title>Awards-
			{% block title %}WELCOM
			{% endblock %}
		</title>


	</he>
	<body>

		<div class="container">
			<div class="col-md-4">
				<div class="card bg-ligth">
					<div class="card-header">
						<h4 class="card-title">
							<i class="fas fas-lock"></i>
							Connexion a l'administration !
						</h4>
					</div>
					<div class="card-body">
						{% if hasError %}
							<div class="alert alert-warning">
								<p>
									Vos informations ne sont pas correctes !
								</p>
							</div>
						{% endif %}
                       <form  method="post">
							<div class="form-group">
                             <label for="email">Email</label>
								<input type="text" id="email" class="form-control" placeholder="Votre adresse email..." name ="_username" value="{{username}}">
							</div>
							<div class="form-group">
								<label for="_password"> Password</label>
							<input type="password" id="password" class="form-control" placeholder="Votre mot de passe..." name="_password">
								<div class="form-group">
									<button type="submit" class="btn btn-success my-1"> Connexion !
									
									</button>

									<a href="{{path('awards')}}" class="btn-btn-link">
										Retour au Site !
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="/basica/js/jquery-1.9.1.min.js"><\/script>')
</script>
<script src="/basica//basica/js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="/basica/js/jquery.easing.min.js"></script>
<script src="/basica/js/scrolling-nav.js"></script>

</body>

</html>