{% extends "base.html.twig" %}
{% block body %}
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-4">
				<img class="img-responsive" src="/basica/img/about-us.jpg" alt="About Us">
				</div>
				<div class="col-sm-8">
						<h2>Wordpress Theme Development</h2>
						<h3>Specializing in Wordpress Theme Development</h3>
						<p>
							Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id. Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
						</p>
						<p>
							Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
						</p>						
						<h3 class="mt-2">Nos partenaires</h3>
						<p>
							Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam condimentum laoreet sagittis. Duis quis ullamcorper leo. Suspendisse potenti.
							Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam condimentum laoreet sagittis. Duis quis ullamcorper leo. Suspendisse potenti.
						</p>
						
						
						
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="/basica/img/logos/logo-1.jpg" alt="Client Name"></a></div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="/basica/img/logos/logo-2.jpg" alt="Client Name"></a></div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="/basica/img/logos/logo-3.jpg" alt="Client Name"></a></div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="/basica/img/logos/logo-4.jpg" alt="Client Name"></a></div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="/basica/img/logos/logo-5.jpg" alt="Client Name"></a></div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="/basica/img/logos/logo-6.jpg" alt="Client Name"></a></div>
				</div>						
					</div>
				</div>
			</div>
		</div>

<hr>		

        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<!-- Team Member Photo -->
							<div class="team-member-image"><img src="img/team/1.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<!-- Team Member Info & Social Links -->
									<li class="team-member-name">
										Nicolas Freeman
										<!-- Team Member Social Links -->
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-github"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Web Developer</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="img/team/2.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Sarah Tipton
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Web Designer</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="img/team/3.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Luca Grammont
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Project Manager</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<hr>

       
{% endblock %}