     {% extends "base.html.twig" %}
    
{% block title %}Nos Cathegories
{% endblock %}

       {% block body %}
       <div class="section section-breadcrumbs">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <h1>Nos Cathegories des Awards</h1>
                   </div>
               </div>
           </div>
       </div>
       <hr>
       <div class="section">
           <div class="container">
               <div class="row"> 
               {% for cathegorie in Cathegories %}  
                   <div class="col-md-4 col-sm-6">
                       <div class="team-member">
                           <div class="team-member-image"><img src="/basica/img/team/3.jpg" alt="Name Surname"></div>
                           <div class="team-member-info">
                               <ul>
                                   <li class="team-member-name">
                                   <a href="{{path('voir_cathegorie',{ id: cathegorie.id })}}"> {{cathegorie.title}}</a>    
                                       <span class="team-member-social">
                                           <a href="#"><i class="icon-facebook"></i></a>
                                           <a href="#"><i class="icon-dribbble"></i></a>
                                           <a href="#"><i class="icon-tumblr"></i></a>
                                       </span>
                                   </li>
                                   <li>YOUTHCAM</li>
                               </ul>
                           </div>
                       </div>
                   </div>
               {% endfor %}
               </div>
           </div>
       </div>

       <hr>
   {% endblock %}