{% extends "base1.html.twig" %}
{% block title %}Cathegories
{% endblock %}
{% block body %}
<div class="row mt-3">
	{% for  award in cathegorie.awards  %}
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-header text-center">
					<strong>{{award.title}}</strong>
				</div>
				<img src="{{award.imag}}" alt="Image de la cathegorie" style="height: 200px; width: 100%; display: block"/>
				<div class="card-body">
					<h4 class="card-title text-center">
						<strong>Nomine du 237</strong>
					</h4>
					<p class="card-text">
						{{award.conten}}</p>
					<a href="{{path('voir_award',{ id: award.id })}}" class="btn btn-info">more learn!</a>
				</div>
			</div>
		</div>

	{% endfor %}
</div>


{% endblock %}
