{% extends "base.html.twig" %}
{% block title %}Update password !
{% endblock %}

{% block body %}

<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Mise a jour du mot de passe</h1>
			</div>
		</div>
	</div>
</div>
<hr>
	<div class="contair">
      <div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<div class="bg-light py-3 px-3 mt-5">
					<h1>Update password !</h1>
					{{form_start(form)}}
					{{form_widget(form)}}
					<button type="submit" class="btn btn-primary">
						Update !</button>
					{{form_end(form)}}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}

